.udmanage table{
    width: 95%;
}

.udmanage table tr th{
    text-align: center;
    font-weight: 800;
    cursor: pointer;
    align-content: center;
}
.udmanage table tr.title th{
    /* height: 50px; */
}

.udmanage table tr td{
    text-align: center;
    cursor: pointer;
}

.udmanage table tr td.starrate{
    color:green;
}